* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #0c1222;
    color: aliceblue;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #0f172a;
    height: 350px;
    width: 70%;
    border-radius: 30px;
    padding: 50px;
    margin-top: 20%;
}

h1 {
    text-align: center;
    font-size: 3rem;
}