* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #0c1222;
    color: aliceblue;
    display: flex;
    height: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
}

div {
    background-color: #0f172a;
    height: 350px;
    width: 70%;
    border-radius: 30px;
}